{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block seo %}
<title xmlns="http://www.w3.org/1999/html">Shop</title>

{% endblock %}


{% block content %}

{% if cart|length > 0.9 %}

<section class="page-title-area bg-image ptb--80" data-bg-image="{% static 'back1.jpeg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="page-title">Cart</h1>
                        <ul class="breadcrumb">
                            <li><a href="index.html">Home</a></li>
                            <li class="current"><span>Cart</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb area End -->


        <div class="main-content-wrapper">
            <div class="page-content-inner ptb--80 pt-md--40 pb-md--60">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mb-md--50">

                                <div class="row g-0">
                                    <div class="col-12">
                                        <div class="table-content table-responsive">
                                            <table class="table text-center">
                                                <thead>
                                                    <tr>
                                                        <th>&nbsp;</th>
                                                        <th>&nbsp;</th>
                                                        <th class="text-start">Product</th>
                                                        <th>price</th>
                                                        <th>quantity</th>
                                                        <th>total</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for item in cart %}
                                                        {% with product=item.product %}
                                                    <form class="cart-form" action="{% url 'cart:cart_add' product.id %}" method="post">
                                                        {% csrf_token %}
                                                    <tr>
                                                        <td class="product-remove text-start"><a href="{% url 'cart:cart_remove' product.id %}"><i class="la la-remove"></i></a></td>
                                                        <td class="product-thumbnail text-start">
                                                            <img src="{% if product.list_image %}{{ product.list_image.url }}{% else %}{% endif %}" alt="Product Thumnail">
                                                        </td>
                                                        <td class="product-name text-start wide-column">
                                                            <h3>
                                                                <a href="product-details.html">--{{product.name}}</a>
                                                            </h3>
                                                        </td>
                                                        <td class="product-price">
                                                            <span class="product-price-wrapper">
                                                                <span class="money">₺ {{item.price}}</span>
                                                            </span>
                                                        </td>
                                                        <td class="product-quantity">
                                                            <div class="">
                                                                {{ item.update_quantity_form.quantity |as_crispy_field }}
                                                                <button type="submit" class="cart-form__btn"><i class="la la-pencil">{{ item.update_quantity_form.update}}</i> Güncelle</button>
                                                            </div>

                                                        </td>
                                                        <td class="product-total-price">
                                                            <span class="product-price-wrapper">
                                                                <span class="money">₺ {{ item.total_price }}</span>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                     </form>
                                                          {% endwith %}
                                                    {% endfor %}

                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-0 border-top pt--20 mt--20">
                                </div>

                        </div>
                        <div class="col-lg-4">
                            <div class="cart-collaterals">
                                <div class="cart-totals">
                                    <h5 class="font-size-14 font-bold mb--15">Genel Toplam</h5>
                                    <div class="cart-calculator">
                                        <div class="cart-calculator__item">
                                            <div class="cart-calculator__item--head">
                                                <span>KDV dahil Toplam</span>
                                            </div>
                                            <div class="cart-calculator__item--value">
                                                <span>₺  {{ cart.get_total_price }}</span>
                                            </div>
                                        </div>
                                        <div class="cart-calculator__item">
                                            <div class="cart-calculator__item--head">
                                                <span>KDV</span>
                                            </div>
                                            <div class="cart-calculator__item--value">
                                                <span>% 18</span>

                                            </div>
                                        </div>
                                        <div class="cart-calculator__item order-total">
                                            <div class="cart-calculator__item--head">
                                                <span>Genel Toplam</span>
                                            </div>
                                            <div class="cart-calculator__item--value">
                                                <span class="product-price-wrapper">
                                                    <span class="money">₺  {{ cart.get_total_price }}</span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <a href="{% url 'orders:order_create' %}" class="btn btn-size-md btn-shape-square btn-fullwidth">
                                    Ödemeyi Tamamla
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



<div class="offcanvas-menu-wrapper" id="offcanvasMenu">
            <div class="offcanvas-menu-inner">
                <a href="" class="btn-close">
                    <i class="la la-remove"></i>
                </a>
                <nav class="offcanvas-navigation">
                    <ul class="offcanvas-menu">
                        <li class="menu-item-has-children active">
                            <a href="#">Ana Sayfa</a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="shop.html">Ürünler</a>
                            <ul class="sub-menu">
                                <li class="menu-item-has-children">
                                    {% for product in cate %}
                                    <a href="{{product.get_absolute_url}}">
                                        <span class="mm-text">{{product.name}}</span>
                                    </a>
                                    {% endfor %}
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="/blog/list/">Blog</a>

                        </li>
                        <li class="menu-item-has-children">
                            <a href="#">Katalog</a>
                            <ul class="sub-menu">
                                {% for product in done %}
                                <li>
                                    <a target="_blank" href="{{product.kvvk.url}}">{{product.name}}</a>
                                </li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li>
                            <a href="/contact/">İletişim</a>
                        </li>
                    </ul>
                    <div class="site-info vertical">
                        <div class="site-info__item">
                            <a href="tel:+01223566678"><strong>+01 2235 666 78</strong></a>
                            <a href="mailto:Support@contixs.com">Support@furtrate.com</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>

        {% if request.user.is_authenticated %}
        {% with total_items=cart|length %}
        {% if cart|length > 0 %}
            <aside class="mini-cart" id="miniCart">
            <div class="mini-cart-wrapper">
                <div class="mini-cart__close">
                    <a href="#" class="btn-close"><i class="la la-remove"></i></a>
                </div>
                <div class="mini-cart-inner">
                    <h3 class="mini-cart__heading mb--45">Sepetim</h3>
                    <div class="mini-cart__content">
                        {% for item in cart %}
                        <ul class="mini-cart__list">
                            <li class="mini-cart__product">
                                <div class="mini-cart__product-image">
                                    <img src="{% if item.product.list_image %}{{ item.product.list_image.url }}{% else %}{% endif %}" alt="products">
                                </div>
                                <div class="mini-cart__product-content">
                                    <a class="mini-cart__product-title" href="product-details.html">{{item.product.name}}.</a>
                                    <span class="mini-cart__product-quantity">{{item.quantity}} x ₺ {{item.product.price}}</span>
                                </div>
                            </li>
                        </ul>
                        {% endfor %}
                        <div class="mini-cart__total">
                            <span>Genel Toplam</span>
                            <span class="ammount">₺ {{ cart.get_total_price }}</span>
                        </div>
                        <div class="mini-cart__buttons">
                            <a href="/cart/" class="btn btn-fullwidth btn-bg-primary mb--20">Sepetim</a>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        {% else %}

         {% endif %}
        {% endwith %}
        {% else %}
        {% endif %}
<div class="searchform__popup" id="searchForm">
            <a href="#" class="btn-close"><i class="la la-remove"></i></a>
            <div class="searchform__body">
                <p>Start typing and press Enter to search</p>
                <form class="searchform">
                    <input type="text" name="popup-search" id="popup-search" class="searchform__input" placeholder="Search Entire Store...">
                    <button type="submit" class="searchform__submit"><i class="la la-search"></i></button>
                </form>
            </div>
{% else %}
<br>
<br>
<br>
<section class="section-small text-center" id="services">
      <div class="container">
        <div class="row">
            <p><a class="button btn btn-dark" href="/shop/dersler/">Hadi Gel Ürünlerimize Bakalım</a></p>
        </div>
      </div>
    </section>
{% endif %}






{% endblock %}


{% if cart|length > 0.9 %}

 <div class="breadcrumb-area pt-35 pb-35 bg-gray">
        <div class="container">
            <div class="breadcrumb-content text-center">
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li class="active">Cart page </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="cart-main-area pt-95 pb-100">
        <div class="container">
            <h3 class="cart-page-title">Your cart items</h3>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="table-content table-responsive cart-table-content">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Product Name</th>
                                        <th>Until Price</th>
                                        <th>Qty</th>
                                        <th>Subtotal</th>
                                        <th>action</th>
                                    </tr>
                                </thead>
                                <tbody>

                                {% for item in cart %}
                                    {% with product=item.product %}
                                    <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                    <tr>
                                        <td class="product-thumbnail">
                                            <a href="#"><img width="100" src="{% if product.image %}{{ product.image.url }}{% else %}{% endif %}" alt=""></a>
                                        </td>
                                        <td class="product-name"><a href="#">{{product.name}}</a></td>
                                        <td class="product-price-cart"><span class="amount">$ {{product.price}}</span></td>

                                        <td class="">
                                            <div class="">
                                                {{ item.update_quantity_form.quantity |as_crispy_field }}
                                            </div>
                                        </td>
                                        <td class="product-subtotal">$110.00</td>
                                        <td class="product-remove">
                                            <button type="submit"><i class="sli sli-pencil">{{ item.update_quantity_form.update}}</i></button>
                                            <a href="{% url 'cart:cart_remove' product.id %}"><i class="sli sli-close"></i></a>
                                       </td>
                                            {% csrf_token %}

                                    </tr>
                                    </form>
                                  {% endwith %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    <br>
                    <br>
                    <div class="row">
                        <div class="col-lg-4 col-md-6">

                        </div>
                        <div class="col-lg-4 col-md-6">

                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="grand-totall">
                                <div class="title-wrap">
                                    <h4 class="cart-bottom-title section-bg-gary-cart">Genel Toplam</h4>
                                </div>
                                <h5>Toplam(KDV Dahil):<span>₺  {{ cart.get_total_price }}</span></h5>
                                <a href="{% url 'orders:order_create' %}">Proceed to Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% else %}
<br>
<br>
<br>
<section class="section-small text-center" id="services">
      <div class="container">
        <div class="row">
            <p><a class="button btn btn-dark" href="/shop/dersler/">Hadi Gel Ürünlerimize Bakalım</a></p>
        </div>
      </div>
    </section>
{% endif %}