{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block seo %}
    <title>Şifre Yenileme</title>
{% endblock %}
{% block content %}
    <div class="col-md-6 offset-md-3">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Şifre Yenileme <i class="fas fa-key" style="font-size: 1.5em; color:#EB060B;"></i></legend>
                <h6><i class="fas fa-envelope animated bounceInLeft delay-1s" style="font-size: 1.5em; color:#EB060B;"></i> Şifreniz E mail Adresinize İletilcek. </h6>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class=" btn btn-danger mee" type="submit">Gönder</button>
            </div>
        </form>
    </div>
{% endblock content %}