{% extends "base.html" %}
{% block seo %}
    <title>Şifre Doğrulama</title>
{% endblock %}
{% block content %}

    <div >
        <legend class="text-center border-bottom mb-4">Şifre Doğrulama Başarı İle Tamamlandı <i class="fas fa-check-circle" style="font-size: 1.5em; color:#EB060B;"></i></legend>
    </div>
    <a class="row justify-content-md-center mee" href=/user/login/><i class="fas fa-sign-in-alt" style="font-size: 5.0em; color:#EB060B;"></i></a>
<br>
<br>
{% endblock content %}