{% extends "base.html" %}
{% block seo %}
    <title>Şifre Doğrulama</title>
{% endblock %}
{% block content %}

    <div  class="text-center">
     <h1 class="row justify-content-md-center mee"> Yenileme Link'i e-mail Adresinize Gönderildi... <i class="fas fa-mail-bulk animated infinite fadeOutRight delay-1s" style="font-size: 1.5em; color:#EB060B;"></i> </h1>
    </div>
<br>
    <div class="row justify-content-md-center">
     <a class="fb-ic"style="font-size: 1em; color:#EB060B;"href="https://gmail.com/">
         <i class="fab fa-google  mr-md-5 mr-3 fa-2x"> </i>
     </a>
     <a class="fb-ic"style="font-size: 1em; color:#EB060B;"href="https://mail.yandex.com.tr/">
         <i class="fab fa-yandex mr-md-5 mr-3 fa-2x"></i>
     </a>
     <a class="fb-ic"style="font-size: 1em; color:#EB060B;"href="https://login.yahoo.com/?.src=ym&.lang=tr-TR&.intl=tr&.done=https%3A%2F%2Fmail.yahoo.com%2Fd%3F.lang%3Dtr-TR">
         <i class="fab fa-yahoo mr-md-5 mr-3 fa-2x"></i>
     </a>
     <a class="fb-ic"style="font-size: 1em; color:#EB060B;"href="https://outlook.live.com/owa/">
        <i class="fab fa-microsoft mr-md-5 mr-3 fa-2x"></i>
      </a>
     <a class="fb-ic"style="font-size: 1em; color:#EB060B;"href="https://www.icloud.com/">
       <i class="fas fa-cloud mr-md-5 mr-3 fa-2x"></i>
      </a>
    </div>
<br>
<br>
{% endblock content %}