{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block seo %}
    <title>Kullanıcı Kayıt</title>
{% endblock %}

 {% block content %}
<section class="page-title-area bg-image ptb--80" data-bg-image="{% static 'back1.jpeg' %}">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="page-title">{{product.name}}</h1>
                        <ul class="breadcrumb">
                            <li><a href="/">Ana Sayfa</a></li>
                            <li class="current"><span>{{product.name}}</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>


<div class="main-content-wrapper">
            <div class="page-content-inner pt--75 pb--80">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="register-box">
                                <h4 class="heading__tertiary mb--30">Register</h4>
                                <form method="post" class="form form--login">
                                    {% csrf_token %}
                                    <div class="form__group mb--20">
                                        {{ form.first_name|as_crispy_field }}
                                    </div>
                                    <div class="form__group mb--20">
                                        {{ form.last_name|as_crispy_field }}
                                    </div>
                                    <div class="form__group mb--20">
                                         {{ form.username|as_crispy_field }}
                                    </div>
                                    <div class="form__group mb--20">
                                       {{ form.email|as_crispy_field }}
                                    </div>
                                    <div class="form__group mb--20">
                                       {{ form.password|as_crispy_field }}
                                    </div>
                                    <div class="form__group mb--20">
                                       {{ form.confirm|as_crispy_field }}
                                    </div>
                                    <div class="form__group">
                                        <input type="submit" value="Register" class="btn btn-size-sm">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

 {% endblock  %}